---
layout: page
---
{% assign profile = site.theme_settings.profile %}

</div><!-- This Tag means End .container -->
<div id="protfolio">
  <section id="about-me">
    <div class="row">
      <div class="img-wrap col-12 col-md-4">
        <div class="img">
          <img src="{{ site.baseurl }}/{{ profile.image }}" alt="user_image">
        </div>
      </div>
      <div class="text-wrap col-12 col-md-8">
        <h2 class="username">{{ profile.username }}</h2>
        <p class="description">{{ profile.description }}</p>

        <ul id="icons">
          {% include icons.html %}
        </ul>
      </div>
    </div>
    <div class="bg"></div>
  </section>
  <!-- career section -->
  <section id="career" class="row">
    <article class="exper col-12 col-md-6">
      <p class="title">EXPERIENCE</p>
      <ul class="exper-list">
        {% for exp in  profile.experience %}
        <li class="meta">
          <p class="date">{{ exp.start }} ~ {{ exp.end }}</p>
          <p class="description">{{ exp.experience }}</p>
        </li>
        {% endfor %}
      </ul>
    </article>
    <article class="skills col-12 col-md-6">
      <p class="title">EDUCATION</p>
      <ul class="skill-list">
        {% for _ in profile.skills %}
        <li class="skill">
          <p class="name">{{ _.skill }}</p>
          <div class="progress">
            <div class="progress-bar" style="width: {{ _.value }}%">
              <div class="progress-value">{{ _.value }}%</div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </article>
  </section>
<section id="project">
  <div class="project-wrap">
    <p class="title">CREDENTIALS</p>
    <div class="card-container">
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="85903bdb-df1f-46bc-acbe-354002657efa" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0c229249-ab2d-426c-b3b0-c96a4cb5057f" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="aa75327f-a37d-4b01-a55b-e9209c87fd2e" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    </div>
  </div>
</section>

  {% include projects.html %}
</div>